.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-family: var(--font-serif);
}
 
.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-family: var(--font-serif);
}
 
.headingLg {
  font-size: 1.7rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-family: var(--font-serif);
}
 
.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingSm {
  font-size: 1.0rem;
}
 
.borderCircle {
  border-radius: 0; 
}
 
.colorInherit {
  color: inherit;
}
 
.padding1px {
  padding-top: 1px;
}
 
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
.listItem {
  margin: 0 0 1.25rem;
}
 
.lightText {
  color: #4099e2;
}